@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
}

.item-center{
    align-items: center;
}

.left{
    width: 25vw;
    padding: 10px;
}

.right{
    width: 75vw;
}

.home ul li{
    display: flex;
    list-style: none;
    width: 15px;
    gap: 5px;
    padding-top: 14px;
}

.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    align-items: center;
    font-size: 11px;
    font-weight: bold;
    padding-top: 14px;
    padding: 20px 14px;
}

.heading img{
    width: 20px;
}

.library{
    min-height: 80vh;
    position: relative;
}

.footer{
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0px;
}

.footer a{
    color: rgb(149, 146, 146);
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.right{
    margin: 16px 0;
    position: relative;
}

.header > *{
    padding: 20px;
}


.spotifyPlaylist{
    padding: 16px;
}

.spotifyPlaylists h1 {
    padding: 16px;
}
